html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@
*/

/*:root {
	--textColour: #00008B;
	--borderColour: #0000FF;
	--bgColour: #0080FF;
	--buttonColour: #ADD8E6;
	--taskBG: #568df5;
}*/


:root {
	--textColour: #380a3f;
	--borderColour: #c71e59;
	--bgColour: #eb622c;
	--buttonColour: #c71e59;
	--taskBG: #fbab3a;
	--mainBG: #4e1b56;
  }
  
  

@font-face {
	font-family: 'bangers';
	src: url(Bangers-Regular.woff2);
}

@font-face {
	font-family: 'acme';
	src: url(Acme-Regular.woff2);
}

html {
	background-color: var(--mainBG);
	font-family: 'acme';
}

button {
	height: 10vw;
	width: 30vw;
	font-size: 2.7rem;
	align-self: center;
	font-family: 'acme';
	justify-self: center;
	margin: 1rem;
	border-radius: 1.5rem;
	border: 0;
	background-color: var(--buttonColour);
	color: var(--textColour);
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;}

button:hover {
	background-color: #380a3f;
	color: #c71e59;
	transition: 0.5s;
}

#content {
	display: flex;
	flex-direction: column;
	margin: 5vw;
	z-index: 7;
	align-items: center;
}
#listItem {

	background-color: var(--bgColour);
	margin: 5vw;
	width: 85vw;
	display: grid;
	grid-template-columns: 1fr 1fr;
	border-radius: 2rem;	
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#taskListItem {
    font-size: 3rem;
    font-weight: 500;
    color: var(--textColour);
	margin-left: 2.5rem;

}

h2 {
    font-size: 4rem;
    font-weight: 800;
    color: var(--textColour);
	grid-column: span 2;
	margin-left: 2rem;
	text-align: center;
}

h1 {
	font-size: 13rem;
	text-shadow: 4px 5px 8px rgba(75, 30, 0, 0.8);
	color: #eb622c;
	margin-left: 1rem;
	text-align: center;
	font-family: 'acme';
}

h3 {
    font-size: 4rem;
    font-weight: 650;
    color: var(--textColour);
	margin-left: 1rem;
	align-self: center;
	justify-self: center;

}


#projectForm {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--bgColour);
	display: grid;
	grid-template-columns: 45vw 45vw;
	z-index: 9;
	width: 90vw;
	border-radius: 3rem;
	padding: 1rem;
	max-height: 90vh;
	overflow-y: auto;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

#projectForm>label{
	font-size: 3rem;
	align-self: center;
	justify-self: center;
}

#projectForm>input{
	font-size: 3rem;
	border-radius: 1rem;
	padding: 1rem;

}

#editProjectForm {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--bgColour);
	display: grid;
	grid-template-columns: 45vw 45vw;
	z-index: 9;
	width: 90vw;
	border-radius: 3rem;
	padding: 1rem;
	max-height: 90vh;
	overflow-y: auto;
}

#editProjectForm>label{
	font-size: 3rem;
	align-self: center;
	justify-self: center;
}

#editProjectForm>input{
	font-size: 3rem;
	border-radius: 1rem;
	padding: 1rem;

}

#overlay {
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0, 0.4);
	z-index: 8;
	position: fixed;
	top: 0%;
	left: 0%;
	transform: translate(-0%, -0%);
}

div[id^=taskDiv] {
	grid-column: span 2;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.taskForm {
	display: grid;
	grid-template-columns: 45vw 45vw;
	grid-column: span 2;
	width: 90vw;
	border-radius: 1rem;
	background-color: var(--taskBG);
	margin-bottom: 1rem;
}

.taskForm>label{
	font-size: 3rem;
	align-self: center;
	justify-self: center;
}

.taskForm>input{
	font-size: 3rem;
	border-radius: 1rem;
	padding: 1rem;

}


.taskForm>select{
	font-size: 3rem;
	border-radius: 1rem;
	padding: 1rem;

}

.addProjectButton {
	width: 85vw;
	height: 10vw;
	background-color: var(--buttonColour);
	font-size: 5vw;
}

.addProjectButton:hover{
	background-color: var(--bgColour);
	color: #380a3f;
	transition: 0.8s;
}

#taskListMain {
	grid-column: span 2;
	display: grid;
	align-self: center;
	justify-self: center;
	width: 80vw;
	margin: 1vw;
	grid-template-columns: 1fr 1fr;
	background-color: var(--taskBG);
	border-radius: 2rem;
	padding: 1vw;
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;}

#taskListMain>li{
	grid-column: span 2;
}


@media only screen and (min-width: 1000px) {
	h1 {
		margin-left: 3vw;
		text-align: left;
		font-size: max(10vw, 136px);
	}
	h2 {
		grid-column: span 1;
		font-size: 1.8vw;
		justify-self: center;
		align-self: center;
	}

	h3{ 
		font-size: 1.8vw;
	}

	button {
		height: 2.5vw;
		font-size: 1.5vw;
		width: 10vw;
		margin: 8px;
	}

	#content {
		display: grid;
		grid-template-columns: 60vw 40vw;
		margin: 2vw;
		margin-top: 1vw;
		align-items: unset;

	}

	#addProjectButton {
		width: 300px;
		height: 100px;
		font-size: 50px;
	}

	#listItem {
		margin: 2.5vw;
		width: 90vw;
		display: grid;
		grid-template-columns: repeat(4, 22.5vw);
		border-radius: 2rem;	
		margin-bottom: 16px;
		margin-top: 16px;
	}

	#projectForm>input{
		font-size: 1.5rem;
		border-radius: 1rem;
		padding: 0.5rem;
	
	}

	#editProjectForm>input{
		font-size: 1.5rem;
		border-radius: 1rem;
		padding: 0.5rem;
	
	}
	#listItem:first-child {
		margin-top: 0;
	}

	#taskListMain {
		grid-column: span 4;
		width: 85vw;
		grid-template-columns: repeat(4, 21.25vw);
		margin: 8px;
		padding: 8px;
		margin-top: 0;
		box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
	}

	#taskListMain>li{
		grid-column: span 1;
		font-size: 2vw;
		align-self: center;
		justify-self: center;
	}

	#taskListItem:last-child {
		grid-column: span 4;
		justify-self: start;
	}


	.taskForm {
		grid-template-columns: 164px 1fr 164px 1fr;
		padding: 4px;
	}
	
	.taskForm>label{
		font-size: 1.5rem;
		align-self: center;
		justify-self: center;
	}
	
	.taskForm>input{
		font-size: 1.5rem;
		border-radius: 1rem;
		padding: 0.5rem;
	
	}
	
	
	.taskForm>select{
		font-size: 1.5rem;
		border-radius: 1rem;
		padding: 0.5rem;
	
	}

  }