html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@
*/

@font-face {
	font-family: 'bangers';
	src: url(Bangers-Regular.woff2);
}

button {
	height: 10vw;
	width: 30vw;
	font-size: 2.5rem;
	align-self: center;
	justify-self: center;
	margin: 1rem;
	border-radius: 1.5rem;
	border: 0;
}

#content {
	display: flex;
	flex-direction: column;
	margin: 5vw;
	z-index: 7;
	align-items: center;
}
#listItem {

	border: 3px solid green;
	background-color: rgb(227, 230, 80);
	margin: 5vw;
	width: 85vw;
	display: grid;
	grid-template-columns: 1fr 1fr;
	border-radius: 3rem;	

}

#taskListItem {
    font-size: 3rem;
    font-weight: 500;
    color: blueviolet;
	margin-left: 2.5rem;



}

h2 {
    font-size: 4rem;
    font-weight: 800;
    color: blue;
	grid-column: span 2;
	margin-left: 2rem;
	text-align: center;
}

h1 {
	font-size: 13rem;
	font-weight: 500;
	color: rgb(39, 39, 173);
	margin-left: 1rem;
	text-align: center;
	font-family: 'bangers';
}

h3 {
    font-size: 4rem;
    font-weight: 650;
    color: brown;
	margin-left: 1rem;
	align-self: center;
	justify-self: center;

}


#projectForm {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 3px solid orangered;
	background-color: rgb(141, 43, 165);
	display: grid;
	grid-template-columns: 45vw 45vw;
	z-index: 9;
	width: 90vw;
	border-radius: 3rem;
	padding: 1rem;
	max-height: 90vh;
	overflow-y: auto;
}

#projectForm>label{
	font-size: 3rem;
	align-self: center;
	justify-self: center;
}

#projectForm>input{
	font-size: 3rem;
	border-radius: 1rem;
	padding: 1rem;

}

#editProjectForm {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 3px solid orangered;
	background-color: rgb(141, 43, 165);
	display: grid;
	grid-template-columns: 45vw 45vw;
	z-index: 9;
	width: 90vw;
	border-radius: 3rem;
	padding: 1rem;
	max-height: 90vh;
	overflow-y: auto;
}

#editProjectForm>label{
	font-size: 3rem;
	align-self: center;
	justify-self: center;
}

#editProjectForm>input{
	font-size: 3rem;
	border-radius: 1rem;
	padding: 1rem;

}

#overlay {
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0, 0.4);
	z-index: 8;
	position: fixed;
	top: 0%;
	left: 0%;
	transform: translate(-0%, -0%);
}

div[id^=taskDiv] {
	grid-column: span 2;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.taskForm {
	display: grid;
	grid-template-columns: 45vw 45vw;
	grid-column: span 2;
	width: 90vw;
	border-radius: 1rem;
	border: 3px solid yellow;
	background-color: rgb(95, 95, 173);
	margin-bottom: 1rem;
}

.taskForm>label{
	font-size: 3rem;
	align-self: center;
	justify-self: center;
}

.taskForm>input{
	font-size: 3rem;
	border-radius: 1rem;
	padding: 1rem;

}
.taskForm>select{
	font-size: 3rem;
	border-radius: 1rem;
	padding: 1rem;

}

.addProjectButton {
	width: 85vw;
	height: 10vw;
	background-color: rgb(143, 77, 77);
	border: 3px solid greenyellow;

}

#taskListMain {
	grid-column: span 2;
	display: grid;
	align-self: center;
	justify-self: center;
	width: 80vw;
	margin: 1vw;
	grid-template-columns: 1fr 1fr;
	border: 1px solid orangered;
	background-color: aquamarine;
	border-radius: 2rem;
	padding: 1vw;
}

#taskListMain>li{
	grid-column: span 2;
}